.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

h1 {
  display: inline-flex;
}

span {
  font-weight: bold;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
